name: Publish Package to NPM and GitHub Packages

on:
  release:
    types: [published]
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '22'
          registry-url: 'https://registry.npmjs.org'

      - name: Ensure recent npm
        run: npm install -g npm@latest

      - name: Install dependencies
        run: npm ci

      - name: Run tests (optional)
        run: npm test --if-present

      # ------------------------------------------
      # --- Publish to NPM Registry (npmjs.com) ---
      # ------------------------------------------
      - name: Publish to npm
        run: npm publish --access public
        # env:
        #    NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      # ----------------------------------------
      # --- Publish to GitHub Packages (GPR) ---
      # ----------------------------------------
      - name: Configure NPM for GitHub Packages registry
        run: |
          echo "@mgks:registry=https://npm.pkg.github.com" > ~/.npmrc
          echo "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}" >> ~/.npmrc

      - name: Publish to GitHub Packages
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}